<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .enjoyOrTooMuch > input {
        border-color: green;
      }
      .enjoyOrTooMuch > p{
        color: green;
      }
      .empty > input {
        border-color: red;
      }
      .empty > p {
        color: red;
      }
    </style>
  </head>
<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group" ng-class="inputItemsCss">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"  ng-model="lunchItemsAsString">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="validateLunchItems()">Check If Too Much</button>
         </div>
         <div class="form-group message" ng-class="outputMessageCss">
           <!-- Your message can go here. -->
           <p>{{outputMessage}}</p>
         </div>
   </div>
   <script src="angular.min.js"></script>
   <script src="app.js"></script>
</body>
</html>
